<link rel="stylesheet" type="text/css" href="/css/projects.css">


<div id="project-dashboard">
    <div class="dashboard-heading">
        <h5>Project DASHBOARD</h5>
        <%if(locals.user){%>
        <button id="add-project-btn">Add New Project</button>
            
        <dialog id="add-project-container">
        <%- include('./partials/create_project_form') -%>
        <button id="close-dialog-btn" >Cancel</button>
        </dialog> 
        <%}%>

    </div>
    <div id="description" class="description">
        <% if(projectList) { %>
            
            <% projectList.forEach((project)=>{ %>
                <div class="flash-card" id= "<%= project._id %>" >
                    <span><a href="/projects/<%= project.id %>"><%= project.name %></a> </span>
                    <span><%= project.description %></span>
                    <span><%= project.author %> </span>
                    
                </div>
            <% }) %>
            
        <% } %>
    </div>
</div>



<script type="text/javascript" src="/js/projects.js"></script>

